[user]
	name = Audun Nes
	email = audun.nes@gmail.com
    signingkey = /Users/audun/.ssh/id_ed25519.pub
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/audun/.ssh/allowedSignersFile
[pull]
	rebase = false
