[user]
	name = Audun Nes
	email = audun.nes@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = false
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
